body {
	text-align: center;
	display:flex;
	align-items: center;
  justify-content: center;
}

h2 {
  color: #fff;
  font-family: 'Monoton', cursive;
  font-size: 60px;
  text-shadow: 2px 2px 10px #1D2671, 4px 4px 15px #C33764, ;
}

h3 {
  color: #fff;
  font-family: 'Monoton', cursive;
  font-size: 50px;
  text-shadow: 2px 2px 10px #1D2671, 4px 4px 15px #C33764, ;
}
h4 {
  color: #fff;
  font-family: 'Monoton', cursive;
  font-size: 30px;
  text-shadow: 2px 2px 10px #1D2671, 4px 4px 15px #C33764, ;
}

.input {	
	position:relative;
	font-size: 1.5em;
	background: linear-gradient(45deg, #10abff, #1beabd);
	padding: 5px;
  display: inline-block;
  opacity: 0.5;
}

::placeholder {
	color:#ffffff;
}